<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>A UIKitPlus class.</string>
	<key>Summary</key>
	<string>A UIKitPlus class</string>
	<key>SortOrder</key>
	<string>0</string>
	<key>DefaultCompletionName</key>
	<string>MyClass</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Class:</string>
			<key>Description</key>
			<string>The name of the class to create</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>UIKitPlusSubclass</string>
			<key>Required</key>
			<string>YES</string>
			<key>Name</key>
			<string>Subclass of:</string>
			<key>Description</key>
			<string>What class to subclass in the new file</string>
			<key>Type</key>
			<string>class</string>
			<key>Default</key>
			<string>View</string>
			<key>FallbackHeader</key>
			<string>import UIKitPlus</string>
			<key>Values</key>
			<array>
				<string>UView</string>
				<string>UViewController</string>
			</array>
			<!-- <key>Suffixes</key>
			<dict>
				<key>UIView</key>
				<string>UView</string>
			</dict> -->
		</dict>
		<!-- <dict>
			<key>Identifier</key>
			<string>XIB</string>
			<key>Name</key>
			<string>Also add a preview</string>
			<key>Description</key>
			<string>Whether to create a XIB file with the same name</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>RequiredOptions</key>
			<dict>
				<key>cocoaTouchSubclass</key>
				<array>
					<string>UIViewController</string>
				</array>
			</dict>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<true/>
		</dict> -->
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Language:</string>
			<key>Description</key>
			<string>The implementation language</string>
			<key>Type</key>
			<string>popup</string>
			<key>Default</key>
			<string>Swift</string>
			<key>Values</key>
			<array>
				<string>Swift</string>
				<!-- <string>Objective-C</string> -->
			</array>
			<key>MainTemplateFiles</key>
			<dict>
				<key>Swift</key>
				<string>___FILEBASENAME___.swift</string>
				<!-- <key>Objective-C</key>
				<string>___FILEBASENAME___.m</string> -->
			</dict>
			<key>AllowedTypes</key>
			<dict>
				<key>Swift</key>
				<array>
					<string>public.swift-source</string>
				</array>
				<!-- <key>Objective-C</key>
				<array>
					<string>public.objective-c-source</string>
					<string>public.objective-c-plus-plus-source</string>
				</array> -->
			</dict>
		</dict>
  </array>
</dict>
</plist>
